body {
  color:#666;
  font-family:"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  background:#f7f7f7;
}

a{ color:#2798D6; text-decoration:none;}
a:hover{ color:#666; }
a.new-entity{
  width:120px;
  height:22px;
  display:block;
  overflow:hidden;
  text-indent:-90000px;
  background:url(../images/cadastrar.png) no-repeat;
  text-align:left;
}
a.new-entity:hover{ background:url(../images/cadastrar-hover.png) no-repeat; }
hr{ height:1px; }

h1, h2, h3, h4, h5, p{ color:#444; }
h1 { font-size: 2.3em; }
h5 { font-size:1em; font-weight:bold; margin:auto; }

h4{ font-weight:bold; }

/* top-nav */
div#top-wrapper{
  height:120px;
  width:100%;
  display:block;
  background:url(../images/top.png) repeat-x;
  position:relative;
}
div#top{
  height:120px;
  position:relative;
  overflow:hidden;
}
div#top-nav-wrapper{ margin-top:1px; }
ul.top-nav{
  list-style-type:none;
  margin:auto;
  height:20px;
}
ul.top-nav li{
  line-height:20px;
  display:inline;
  float:left;
  background:#ccc;
}
ul.top-nav li.append { padding-right:10px; }
ul.top-nav li a { line-height:20px; }
ul#right-top-nav{ float:right; }
ul#left-top-nav{ float:left; }



h1.title{
  position:absolute;
  top:35px;
}
ul.nav{
  position:absolute;
  height:35px;
  bottom:0;
  margin-bottom:0;
  border-bottom:none;
}
ul#main-nav-left{ left:0; }
ul#main-nav-right{ right:0; }
ul.nav li{ 
  padding-left:10px;
  border:none; 
  height:35px;
  padding:0;
  margin:0px;
}
ul.tabs.nav li.left{
  padding-left:6px;
  background:url(../images/main-nav-item-left.png) no-repeat;
}
ul.tabs.nav li.left.selected{
  padding-left:6px;
  background:url(../images/main-nav-item-left-selected.png) no-repeat;
}
ul.tabs.nav li.right{
  padding-right:6px;
  background:url(../images/main-nav-item-right.png) top right no-repeat;
}

ul.nav li.right.selected{
  padding-right:6px;
  background:url(../images/main-nav-item-right-selected.png) top right no-repeat;
}

ul.nav li.selected a{
  background:#f7f7f7 url(../images/main-nav-item-repeat-selected.png) repeat-x;
  color:#333;
}
ul.nav li a{
  border:none;
  background: url(../images/main-nav-item-repeat.png) repeat-x;
  padding:9px 20px 8px 20px;
  color:#666;
}
div.secondary-navigation{
  height:33px;
  font-size:1em;
  line-height:1em;
  background:url(../images/breadcrumb/full_breadcrumb_background.png) no-repeat;
  margin-top:20px;
  overflow:auto;
  padding:1px 0;
}
div.secondary-navigation .item{
  display:block;
  float:left;
  padding:10px 20px 10px 10px;
}
div.breadcrumb .item{
  background:url(../images/breadcrumb/breadcrumb_item.png) no-repeat center right;
  margin-top:1px;
}
div.breadcrumb a{ text-decoration:none; }
div.breadcrumb a#start{
  background:url(../images/breadcrumb/home_icon.png) no-repeat top right;
  text-indent:-20000px;
  width:15px;
  overflow:hidden;
  display:block;
}
div.generic-tools{
}
div.generic-tools .item{
  background:url(../images/breadcrumb/separator.png) repeat-y;
  padding:10px;
}

form.search{
  margin:0;
  padding:0;
  position:relative;
  display:block;
}
div.generic-tools form.search.item{
  padding:6px 15px;
}
div.generic-tools form.search input{ width: 160px;}
form.search span.searchfield-left{
  height:19px;
  width:20px;
  display:block;
  float:left;
  background:url(../images/search/searchfield-left.png) no-repeat;
}
form.search input{
  margin:0;
  padding:3px 3px 3px 2px;
  font-size:0.9em;
  width:100px;
  border:none;
  background:url(../images/search/searchfield-repeat.png) repeat-x;
  color:#666;
  float:left;
}
form.search span.searchfield-right{
  height:19px;
  width:10px;
  display:block;
  float:left;
  background:url(../images/search/searchfield-right.png) no-repeat;
}

ul.actions-nav{
  height:15px;
  list-style-type:none;
}
td ul.actions-nav, th ul.actions-nav{font-weight:normal;  display:inline; margin:auto; float:right;}
ul.actions-nav li {display:inline; float:left;}



/* full content */

div.full-content-top{
  height:5px;
  background:url(../images/blocks/full-content-top.png) top left no-repeat;
  padding:0;
  margin-top:20px;
}
.full-content-top-tools { overflow:auto; }
.full-content-top-tools h2{  line-height:40px;}
.full-content-top-tools div.tool { padding-top:15px; float:left margin-right:15px; text-align:right;}
.full-content-top-tools div.tool a, .full-content-top-tools div.tool form{ float:right; }

div.full-content-top.with-left-sidebar{ background:url(../images/blocks/full-content-top-with-left-sidebar.png) top left no-repeat; }
div.full-content-top.with-right-sidebar{ background:url(../images/blocks/full-content-top-with-right-sidebar.png) top left no-repeat; }
div.full-content-top.with-two-sidebars{ background:url(../images/blocks/full-content-top-with-two-sidebars.png) top left no-repeat; }

div.full-content{
  background:url(../images/blocks/full-content-repeat.png) repeat-y;
  overflow:auto;
}
div.full-content.with-left-sidebar { background:url(../images/blocks/full-content-repeat-with-left-sidebar.png) repeat-y; }
div.full-content.with-right-sidebar { background:url(../images/blocks/full-content-repeat-with-right-sidebar.png) repeat-y; }
div.full-content.with-two-sidebar { background:url(../images/blocks/full-content-repeat-with-two-sidebars.png) repeat-y; }

div.full-content div.block { margin-right:0px; }
div.full-content div.span-18 { width:720px; }

div.inner, p.inner{
  padding:10px 20px 0px 20px;
  margin:0 1px 0 0;
  position:relative;
  overflow:hidden;
}
.divider{ border-bottom:1px solid #d5d5d5; }
.colborder { border-right:1px solid #d5d5d5; }


div.full-content-bottom{
  height:10px;
  background:url(../images/blocks/full-content-bottom.png) bottom left no-repeat;
  padding:0;
}

div.full-content-bottom.with-left-sidebar{ background:url(../images/blocks/full-content-bottom-with-left-sidebar.png) top left no-repeat; }
div.full-content-bottom.with-right-sidebar{ background:url(../images/blocks/full-content-bottom-with-right-sidebar.png) top left no-repeat; }
div.full-content-bottom.with-two-sidebars{ background:url(../images/blocks/full-content-bottom-with-two-sidebars.png) top left no-repeat; }


ul.content-sidebar{ margin:10px auto; list-style-type:none;}
ul.content-sidebar li{
  display:block; 
  margin:auto 1px auto 1px;
}
ul.content-sidebar li a{
  padding:10px 20px;
  display:block;
  color:#909090;
  background: url(../images/nav-arrow.gif) -10px 10px no-repeat;
}
ul.content-sidebar li a:hover { 
  color:#666;
  background: url(../images/nav-arrow.gif) -232px 10px no-repeat;
}
ul.content-sidebar.right li{
  margin:auto 3px auto auto;
}

ul.content-sidebar li.selected { 
  background:url(../images/item-gradient.jpg) repeat-x; 
}

ul.content-sidebar li.selected  a{ 
  color:#666;
  background: url(../images/nav-arrow.gif) -454px 10px no-repeat;
}
/* half content */

div.half-content-top{
  height:5px;
  background:url(../images/blocks/half-content-top.png) top left no-repeat;
  padding:0;
  margin-top:20px;
}
div.half-content-top.title{
  height:40px;
  background:url(../images/blocks/half-content-title.png) no-repeat;
}
div.half-content-top.title a{ text-decoration:none; }
div.half-content-top.title h2{
  font-size:1.5em;
  margin:0 20px;
  line-height:40px;
}
div.half-content-top.title .item{
  background:url(../images/breadcrumb/separator.png) repeat-y;
  padding:0 10px;
  line-height:38px;
  display:block;
  float:right;
  margin-top:1px;
  text-align:center;
}
div.half-content{
  background:url(../images/blocks/half-content-repeat.png) repeat-y;
  overflow:auto;
}
div.additional-tools{
  background:#f7f7f7;
  position:relative;
  margin:auto 1px;
  padding:0px 10px;
}
div.additional-tools ul#nav{
  position:relative;
  z-index:100;
}
div.half-content-bottom{
  height:10px;
  background:url(../images/blocks/half-content-bottom.png) bottom left no-repeat;
  padding:0;
}
div.sidebar{
  background:url(../images/blocks/sidebar-repeat.png) repeat-y;
  overflow:auto;
}
div.sidebar .item{
  padding:10px 15px;
  border-top:1px solid #e5e5e5;
}
div.sidebar .item.first{
  border-top:none;
}
div.sidebar .item p{ margin:0; }
div.sidebar-bottom{
  height:10px;
  background:url(../images/blocks/sidebar-bottom.png) bottom left no-repeat;
  padding:0;
}
div.sidebar-top{
  height:5px;
  background:url(../images/blocks/sidebar-top.png) top left no-repeat;
  padding:0;
  margin-top:20px;
}
div.sidebar-top.title, div.sidebar div.subtitle{
  height:1em;
  padding:7px 9px 11px 9px;
  font-weight:bold;
  background:url(../images/blocks/sidebar-title.png) no-repeat;
  font-size:1em;
}
div.sidebar div.subtitle{
  background:url(../images/blocks/sidebar-title-repeat.png) repeat-x;
  margin-right:1px;
  margin-left:1px;
}
/* tables */
table.table{ border:1px solid #e0e0e0; }
table.table tr th{
  background:url(../images/table-th.png) repeat-x;
  border-bottom:1px solid #e0e0e0;
}
table tr.even td{
  background:#f7f7f7;
}
table td.first, table th.first{
  text-align:center;
}
table.table td.last, table.table th.last { text-align:right; padding-right:5px;}

table.big-table td, table.big-table th{ padding:10px 15px; }
table.big-table th { font-size:1.2em; border-bottom:1px dotted #d5d5d5; }



/* labels */
span.label, .mini-button {
  padding:2px 10px;
  background:url(../images/gray-label.png) repeat-x;
  color:#333;
  font-weight:bold;
  font-size:0.8em;
}
.mini-button {
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  border-right:1px solid #666;
  border-bottom:1px solid #666;
}
span.label.red, .mini-button.red{
  background:url(../images/red-label.png) repeat-x;
  color:#fff;
}
.mini-button.red{
  border-top:1px solid #d00;
  border-left:1px solid #d00;
  border-right:1px solid #400;
  border-bottom:1px solid #400;
}
span.label.yellow, .mini-button.yellow{
  background:url(../images/yellow-label.png) repeat-x;
  color:#333;
}
.mini-button.yellow{
  border-top:1px solid #ffdd00;
  border-left:1px solid #ffdd00;
  border-right:1px solid #cc8000;
  border-bottom:1px solid #cc8000;
}
span.label.green, .mini-button.green{
    background:url(../images/green-label.png) repeat-x;
  color:#fff;
}
.mini-button.green{
  border-top:1px solid #0e0;
  border-left:1px solid #0e0;
  border-right:1px solid #040;
  border-bottom:1px solid #040;
}
span.label.black, .mini-button.black{
  background:url(../images/black-label.png) repeat-x;
  color:#fff;
}
.mini-button.black{
  border-top:1px solid #666;
  border-left:1px solid #666;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
}



/* forms */
.form { text-align:center; position:relative; padding:40px;}
.form .group { display:block; position:relative; margin:auto auto 20px auto; text-align:left;}
.form label{ display:block; float:left; width:150px; padding:5px; font-weight:normal; color:#808080;}
.form label.title { font-weight:bold; }
.form textarea{ height:120px; }
.form input.text, input.title{ }
.form select, input.text, textarea ,input.title{ width:350px; color:#808080; padding:2px 5px;  border:1px solid #d5d5d5;}
.form select { padding:0 0;  width:363px;}
.form p.radio-or-checkbox-legend { font-weight:bold; padding:2px 5px;}
.form span.radio-or-checkbox-container { padding-left:160px; display:block;}
.form input.checkbox, .form input.radio { float:left; }
.form label.label-for-radio-or-checkbox { padding:2px 0 0 0; }
.form div.fieldWithErrors label.label {
  display: inline;
}

input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #c0c0c0;}
.save-button { 
  width:80px; 
  height:22px;
  background: url(../images/save-button.png) no-repeat;
  border:none;
  overflow:hidden;
  text-indent:-9000px;
  display:block;
}
.save-button:hover{ background: url(../images/save-button-over.png) no-repeat;}
.form .fieldWithErrors .error {
  color: red;
}
.form span.description{
  display:block;
  margin:-5px auto auto 160px;
  font-size:0.8em;
  color:#b0b0b0;
}

form.mini label{ display:block; }
form.mini input.text, form.mini textarea, form.mini select { border:1px solid #d0d0d0; width:228px; margin:auto auto 15px auto; }
form.mini select { width: 239px; }
form.mini textarea { height: 100px; }

div.span-6.block form.mini { padding:20px; }
div.span-6.block form.mini input.text, 
div.span-6.block form.mini textarea { width: 178px; }
div.span-6.block form.mini select { width: 190px; }

/* lists */

ul.mini-list{
  list-style-type:none;
  list-style-position:outside;
  margin:auto auto 10px auto;
}
ul.mini-list li{ margin: 2px auto; }

ul.big-list{
  margin:0 0 1.5em 0;
  list-style-type:none;
}
ul.big-list li { margin-bottom:20px; }
ul.big-list img.avatar { width:70px; height: 70px; }
